body {
  background-image: url("./images/jj-ying-7JX0-bfiuxQ-unsplash.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100vh;
  background-color: rgb(14, 14, 14);
  background-blend-mode: overlay;
}

.atom-logo {
  display: inline-block;
  width: 60px;
}

.loading-logo {
  display: block;
  width: 150px;
  margin: 150px auto;
}

/* animiation from original create-react-app app.css */
@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: Loading-logo-spin infinite 10s linear;
  }
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
